.showcase-3d-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.showcase-3d-wrapper > div {
  width: 100%;
  height: 100%;
}

.scroll-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  padding: 0 2rem;
  pointer-events: none;
}

.scroll-section h1, .scroll-section h2 {
  max-width: 800px;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
}

.scroll-section h2 {
  font-size: 2rem;
  color: var(--text-secondary);
}

@media (max-width: 768px) {
  .scroll-section h1 {
    font-size: 2rem;
  }
  .scroll-section h2 {
    font-size: 1.5rem;
  }
}
